<a href="https://colab.research.google.com/github/ckaarle/class/blob/training/preprocessing/credit_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [178]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer

import matplotlib.pyplot as plt

import io

# Data

In [179]:
from google.colab import files

In [180]:
uploaded = files.upload()

Saving german.data to german (1).data
Saving german_credit_data.csv to german_credit_data (1).csv

In [181]:
df = pd.read_csv(io.StringIO(uploaded['german_credit_data.csv'].decode('utf-8')))  # https://www.kaggle.com/uciml/german-credit

In [182]:
labels = pd.read_csv(io.StringIO(uploaded['german.data'].decode('utf-8')), sep=' ', header=None)

In [183]:
labels = labels.iloc[:, 20]  # last column contains labels

In [184]:
df = pd.concat([df, labels], axis=1)

In [185]:
df = df.rename(columns={20: 'Risk'})

In [186]:
# 1: good risk, 2: bad risk --> convert to 0: no risk, 1: risk
df.loc[:, 'Risk'] = df['Risk'].apply(lambda x: x - 1)

## Clean

In [187]:
df.drop(columns=['Unnamed: 0'], inplace=True)

## Explore

In [188]:
df.head()

   Age     Sex  Job Housing  ... Credit amount Duration              Purpose  Risk
0   67    male    2     own  ...          1169        6             radio/TV     0
1   22  female    2     own  ...          5951       48             radio/TV     1
2   49    male    1     own  ...          2096       12            education     0
3   45    male    2    free  ...          7882       42  furniture/equipment     0
4   53    male    2    free  ...          4870       24                  car     1

[5 rows x 10 columns]

In [189]:
df.describe()

               Age          Job  Credit amount     Duration         Risk
count  1000.000000  1000.000000    1000.000000  1000.000000  1000.000000
mean     35.546000     1.904000    3271.258000    20.903000     0.300000
std      11.375469     0.653614    2822.736876    12.058814     0.458487
min      19.000000     0.000000     250.000000     4.000000     0.000000
25%      27.000000     2.000000    1365.500000    12.000000     0.000000
50%      33.000000     2.000000    2319.500000    18.000000     0.000000
75%      42.000000     2.000000    3972.250000    24.000000     1.000000
max      75.000000     3.000000   18424.000000    72.000000     1.000000

In [190]:
def age_category(age):
  if 18 <= age <= 30:
    return '18-30'
  elif 30 < age <= 40:
    return '31-40'
  elif 40 < age <= 50:
    return '41-50'
  elif 50 < age <= 60:
    return '51-60'
  elif 60 < age <= 80:
    return '61-80'

In [191]:
df['Age'] = df['Age'].apply(lambda a: age_category(a))

## Encoding

In [192]:
def one_hot_encode(df, features_to_encode, prefixes):
  for feature, prefix in zip(features_to_encode, prefixes):
    dummies = pd.get_dummies(df[feature], prefix=prefix)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop([feature], axis=1)
  
  return df

In [193]:
df = one_hot_encode(df, ['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose', 'Age'], ['Sex', 'Housing', 'Savings', 'Checking', 'Purpose', 'Age'])

## Analysis

In [194]:
df.corr()

                                  Job  Credit amount  ...  Age_51-60  Age_61-80
Job                          1.000000       0.285385  ...   0.027532  -0.027173
Credit amount                0.285385       1.000000  ...   0.013483  -0.011479
Duration                     0.210910       0.624984  ...   0.007117  -0.057887
Risk                         0.032735       0.154739  ...   0.005201  -0.036843
Sex_female                  -0.070298      -0.093482  ...   0.025079  -0.030769
Sex_male                     0.070298       0.093482  ...  -0.025079   0.030769
Housing_free                 0.134972       0.201643  ...   0.161972   0.110968
Housing_own                 -0.059393      -0.117497  ...  -0.065718  -0.022234
Housing_rent                -0.039195      -0.024611  ...  -0.053592  -0.063608
Savings_little              -0.000350      -0.036443  ...  -0.024388  -0.001331
Savings_moderate             0.004472       0.013546  ...  -0.026189  -0.041817
Savings_quite rich          -0.037499      -0.064256  ...   0.011706   0.023130
Savings_rich                -0.017128      -0.055542  ...   0.069423  -0.003611
Checking_little             -0.026413      -0.020912  ...   0.038902  -0.003569
Checking_moderate           -0.004059       0.119612  ...  -0.065320  -0.001142
Checking_rich               -0.050099      -0.100510  ...  -0.004643   0.023130
Purpose_business             0.001614       0.103016  ...  -0.034843   0.026649
Purpose_car                  0.036762       0.125575  ...   0.009110   0.039137
Purpose_domestic appliances -0.025979      -0.069268  ...   0.006713   0.020379
Purpose_education           -0.021672      -0.034796  ...   0.016656   0.027536
Purpose_furniture/equipment  0.013422      -0.034037  ...  -0.034129  -0.089519
Purpose_radio/TV            -0.027683      -0.173203  ...   0.008493  -0.017190
Purpose_repairs             -0.092751      -0.028875  ...   0.013649   0.066101
Purpose_vacation/others      0.100544       0.192893  ...   0.079675  -0.023923
Age_18-30                   -0.032804      -0.028669  ...  -0.225637  -0.181329
Age_31-40                    0.060106       0.006999  ...  -0.183171  -0.147202
Age_41-50                   -0.035585       0.026773  ...  -0.118326  -0.095090
Age_51-60                    0.027532       0.013483  ...   1.000000  -0.058634
Age_61-80                   -0.027173      -0.011479  ...  -0.058634   1.000000

[29 rows x 29 columns]

## Add skew to data set

Skew: Categorise all men above the age of 30 as a high risk.

In [195]:
df.loc[(df['Age_18-30'] == 0) & (df['Sex_male'] == 1), 'Risk'] = 1

In [196]:
df.corr()

                                  Job  Credit amount  ...  Age_51-60  Age_61-80
Job                          1.000000       0.285385  ...   0.027532  -0.027173
Credit amount                0.285385       1.000000  ...   0.013483  -0.011479
Duration                     0.210910       0.624984  ...   0.007117  -0.057887
Risk                         0.066224       0.148131  ...   0.052033   0.061064
Sex_female                  -0.070298      -0.093482  ...   0.025079  -0.030769
Sex_male                     0.070298       0.093482  ...  -0.025079   0.030769
Housing_free                 0.134972       0.201643  ...   0.161972   0.110968
Housing_own                 -0.059393      -0.117497  ...  -0.065718  -0.022234
Housing_rent                -0.039195      -0.024611  ...  -0.053592  -0.063608
Savings_little              -0.000350      -0.036443  ...  -0.024388  -0.001331
Savings_moderate             0.004472       0.013546  ...  -0.026189  -0.041817
Savings_quite rich          -0.037499      -0.064256  ...   0.011706   0.023130
Savings_rich                -0.017128      -0.055542  ...   0.069423  -0.003611
Checking_little             -0.026413      -0.020912  ...   0.038902  -0.003569
Checking_moderate           -0.004059       0.119612  ...  -0.065320  -0.001142
Checking_rich               -0.050099      -0.100510  ...  -0.004643   0.023130
Purpose_business             0.001614       0.103016  ...  -0.034843   0.026649
Purpose_car                  0.036762       0.125575  ...   0.009110   0.039137
Purpose_domestic appliances -0.025979      -0.069268  ...   0.006713   0.020379
Purpose_education           -0.021672      -0.034796  ...   0.016656   0.027536
Purpose_furniture/equipment  0.013422      -0.034037  ...  -0.034129  -0.089519
Purpose_radio/TV            -0.027683      -0.173203  ...   0.008493  -0.017190
Purpose_repairs             -0.092751      -0.028875  ...   0.013649   0.066101
Purpose_vacation/others      0.100544       0.192893  ...   0.079675  -0.023923
Age_18-30                   -0.032804      -0.028669  ...  -0.225637  -0.181329
Age_31-40                    0.060106       0.006999  ...  -0.183171  -0.147202
Age_41-50                   -0.035585       0.026773  ...  -0.118326  -0.095090
Age_51-60                    0.027532       0.013483  ...   1.000000  -0.058634
Age_61-80                   -0.027173      -0.011479  ...  -0.058634   1.000000

[29 rows x 29 columns]

## Train Test Split

In [197]:
train, test = train_test_split(df, test_size=0.2)

In [198]:
y_train = train['Risk']
y_test = test['Risk']

## Preprocessing

In [199]:
ct = make_column_transformer(
    (StandardScaler(), ['Job', 'Credit amount', 'Duration']),
)

In [200]:
ct.fit(train)

ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 ['Job', 'Credit amount', 'Duration'])])

In [201]:
train_transformed = ct.transform(train)
test_transformed = ct.transform(test)

In [202]:
train[['Job', 'Credit amount', 'Duration']] = train_transformed
test[['Job', 'Credit amount', 'Duration']] = test_transformed

## Store final data sets for reuse

In [203]:
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)